body {
  padding:  3em;
  background-color: rgba(249, 129, 2, 0.63);
}
.chart-title {
  display: table;
  color: #fff;
  font-size: 30px;
  margin:  1em auto;
  font-family: "Hoefler Text", Lobster, "Courier New", Courier, monospace;
}
.chart {
  display: table;
  margin: 0 auto;
}
.jude {
  display: table;
  margin: 1em auto;
}
.jude label {
  margin-right: 0.5em;
}