body {
  padding:  3em;
  background-color: rgba(124,125,43,1);
}
.chart-title {
  display: table;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  margin:  1em auto;
}
.chart {
  display: table;
  margin: 0 auto;
}